*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main-box
{
 background-color: red;
}
.box
{
    background-color: rgb(0, 36, 18);
    height: 15rem;
    width: 25rem;
    border-radius: 3%;
    position: absolute;
    top: 15%;
    left: 30%;
}
p
{
    top: -11rem;
    background-color: rgba(105, 105, 105, 0.329);
    position: relative;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    border-top-left-radius: 6%;
    border-top-right-radius: 7%;
}
.text
{
    top: 0.65rem;
    width: 60rem;
    left: -17rem;
    background-color: rgba(105, 105, 105, 0.329);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}
img
{
    size: 2;
    top: 4rem;
    left: 3rem;
    position: relative;
}
body
{
    background-color: #060606;
}